.popup-per-round__wrapper{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: #0000008f;
  backdrop-filter: blur(5px);
}

.popup-per-round__inner{
  position: absolute;
  box-shadow: 0 0 30px #0000008f;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background: #f7ffcb;
  width: 50vw;
  height: 90vh;
  border-radius: 30px;
  padding: 20px;
  color: rgb(40, 40, 40);
}