.playing-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-field, .right-field{
  position: absolute;
  width: 48vw;
  height: 100vh;
}

.left-field{
  left: 0px;
  top: 0px;
  background: blueviolet;
}

.right-field{
  right: 0px;
  top: 0px;
  background: rgb(43, 153, 226);
}

.center-point{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: red;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
